<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Master" value="server=.\SQL2008R2;database=Master"/>
    <!--ATTENZIONE: E' ATTIVO LA FUNZIONE PER SOFTTICKET QUI E' COMMENTATO SE NON E' NECESSARIO</add>-->
    <!--<add key="SoftTickets" value="server=.\SQL2008R2;database=SoftTickets_MDCLocale"/>-->
    <!--ATTENZIONE: Ditta serve ad accedere a tutti i DB COGE E AZI pertendo da (Ditta)Install</add>-->
    <add key="Ditta" value="05"/>
    <!--ATTENZIONE: Indicare il numero di anni da salvare a ritroso partendo dall'ultimo esercizio</add>-->
    <add key="AnniBK" value="1"/>
    <add key="SQLServer" value="server=.\SQL2008R2"/>
    
    <add key="PercorsoFilesBackup" value="D:\BackupDB"/>
    <add key="SupportoRemovibile" value="D:\"/><!-- "." NON PREVISTO else "F:\" -->
    <!--<add key="PercorsoFlash_1" value="C:\FLASH01\LOG"/>--><!--deve coincidere sempre a quello definito in Tabella Config--><!--
    <add key="PercorsoFlash_2" value="C:\FLASH02\LOG"/>-->
    <add key="SqlTimeout" value="2400"/>
    <!--<add key="PosizioneBackupFlash_1" value="C:\BKFLASH01\LOGBK"/>--><!--deve coincidere sempre a quello definito in Tabella Config--><!--
    <add key="PosizioneBackupFlash_2" value="C:\BKFLASH02\LOGBK"/>-->
    <add key="SWBKAuto" value="1"/>
    <add key="BKAutoMinuti" value="1"/><!--<MRSN> Impostato a 15minuti DEFAULT ***NOTA INFERIORE A 2 ORE-->
    <add key="BKOreMinStart" value="15.37"/>
    <!--ATTENZIONE: SERVE SIA PER SOFTTICKET CHE X COGE E AZI N.DB DA LASCIARE SUL DISCO - SUPERATO IL NUMERO CANCELLA I PIU' VECCHI</add>-->
    <add key="NMaxBKTickets" value="31"/>
    <add key="NMaxBKRiepiloghiSIAE" value="1"/>
    <add key="NMaxBKViario" value="1"/>
    <add key="PWDSQL" value="SoftSol"/>
    <!--ATTENZIONE: COPIA DEL LOG RIGUARDO IL BACKUP DATABASE CHE DEVE ESSERE UGUALE A QUELLO DEFINITO IN SOFTBKAUTO</add>-->
    <add key="PathFileLogBK" value="D:\SoftInvioMail\LOGBK"></add>
    <add key="MySQLTrasfDoc" value="1"></add>
  </appSettings>
</configuration>