<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InvioTest" value="1"></add>
    <!--EmailTest server anche a chi inviare l'Email esito Backup-->
    <!--<add key="EmailTest" value="g.guadagno1968@gmail.com;francesca.olivo@iredeem.it;alberto.zibordi@iredeem.it"></add>-->
    <!--AIInvioEmailAttiva ora in cui si attiva nel caso in cui il servizio è sospeso-->
    <add key="EmailTest" value="g.guadagno19031968@gmail.com"></add>
    <add key="SleepSendMM" value="3"></add>
    <add key="ContrOgniMM" value="30"></add>
    <add key="PathFileLog" value="C:\SoftInvioMail\LOGMail"></add>
    <add key="PathLoghi" value="C:\SoftInvioMail\Loghi"></add>
    <add key="PathAllegati" value="C:\SoftInvioMail\Allegati"></add>
    <add key="Cst_All_1" value="MODULO ORDINE PARTI DI RICAMBIO HS1 2020.pdf"></add>
    <add key="Cst_All_2" value="MODULO ORDINE PARTI DI RICAMBIO FR2 2020.pdf"></add>
    <add key="Cst_All_3" value="MODULO ORDINE PARTI DI RICAMBIO FR3 2020.pdf"></add>
    <add key="Cst_All_4" value="MODULO ORDINE PARTI DI RICAMBIO FRX 2020.pdf"></add>
    <!--ATTENZIONE: Ditta e ConnDBOP devono avere lo stesso codice</add>-->
    <add key="Ditta" value="05"></add>
    <add key="ClienteDB" value="Softsolutions"></add>
    <!--ATTENZIONE: Ditta e ConnDBOP devono avere lo stesso codice</add>-->
    <add key="ConnDBOP" value="Server=GIUSEPPE\SQL2012;Database=05Opzioni;Timeout=120;User ID=sa"></add>
    <add key="ConnDBInstall" value="Server=GIUSEPPE\SQL2012;Database=05Install;Timeout=120;User ID=sa"></add>
    <add key="ConnDBNNAAAA" value="Server=GIUSEPPE\SQL2012;Database=NNAAAAGestAzi;Timeout=2400;User ID=sa"></add>
    <!--ATTENZIONE: COPIA DEL LOG RIGUARDO IL BACKUP DATABASE CHE DEVE ESSERE UGUALE A QUELLO DEFINITO IN SOFTBKAUTO</add>-->
    <add key="EmailBK" value="g.guadagno19031968@gmail.com"></add><!--DA GESTIRE-->
    <add key="PathFileLogBK" value="C:\SoftInvioMail\LOGBK"></add>
    <add key="EmailMittenteBK" value="g.guadagno@softsolutions-srl.com"></add>
  </appSettings>
</configuration>
