<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="InvioTest" value="1"></add>
    <!--EmailTest server anche a chi inviare l'Email esito Backup-->
    <!--<add key="EmailTest" value="g.guadagno1968@gmail.com;francesca.olivo@iredeem.it;alberto.zibordi@iredeem.it"></add>-->
    <!--AIInvioEmailAttiva ora in cui si attiva nel caso in cui il servizio è sospeso-->
    <add key="EmailTest" value="g.guadagno@softsolutions-srl.com;Claudia.Ramponi@iredeem.it;alberto.zibordi@iredeem.it;g.guadagno19031968@gmail.com;Assistenza@softsolutions-srl.com"></add>
    <add key="SleepSendMM" value="3"></add>
    <add key="ContrOgniMM" value="30"></add>
    <add key="PathFileLog" value="C:\SoftInvioMailOggetto\LOGMail"></add>
    <add key="PathLoghi" value="C:\SoftInvioMailOggetto\Loghi"></add>
    <add key="PathAllegati" value="C:\SoftInvioMailOggetto\Allegati"></add>
    <add key="Cst_All_1" value=""></add>
    <add key="Cst_All_2" value=""></add>
    <add key="Cst_All_3" value=""></add>
    <add key="Cst_All_4" value=""></add>
    <!--ATTENZIONE: Ditta e ConnDBOP devono avere lo stesso codice</add>-->
    <add key="Ditta" value="05"></add>
    <add key="ClienteDB" value="Softsolutions"></add>
    <!--ATTENZIONE: Ditta e ConnDBOP devono avere lo stesso codice</add>-->
    <add key="ConnDBOP" value="Server=GIUSEPPE\SQL2008r2;Database=05Opzioni;Timeout=120;User ID=sa"></add>
    <add key="ConnDBInstall" value="Server=GIUSEPPE\SQL2008r2;Database=05Install;Timeout=120;User ID=sa"></add>
    <add key="ConnDBNNAAAA" value="Server=GIUSEPPE\SQL2008r2;Database=NNAAAAGestAzi;Timeout=2400;User ID=sa"></add>
    <add key="ConnDBNNScadenze" value="Server=GIUSEPPE\SQL2008r2;Database=NNScadenze;Timeout=120;User ID=sa"></add>
    <!--PARAMETRI POSTA</add>-->
    <add key="SMTPServer" value="smtp.softsolutions-srl.com"></add>
    <add key="SMTPUserName" value="demo@softsolutions-srl.com"></add>
    <add key="SMTPPassword" value="softdemo"></add>
    <add key="SMTPPorta" value="25"></add>
    <add key="EMAILMittente" value="Claudia.Ramponi@iredeem.it"></add>
    <add key="DESCMittente" value="Assistente Ufficio Commerciale"></add>
    <add key="CARICAMittente" value=""></add>
    <!--<add key="SMTPServer" value="smtp2.itd.it"></add>
    <add key="SMTPUserName" value="gestionale"></add>
    <add key="SMTPPassword" value="xxxxxxxxxx"></add>
    <add key="SMTPPorta" value="25"></add>
    <add key="EMAILMittente" value="commerciale@iredeem.it"></add>
    <add key="DESCMittente" value="Ufficio Commerciale"></add>
    <add key="CARICAMittente" value=""></add>-->
  </appSettings>
</configuration>