<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ApplicationConfiguration" type="It.SoftAzi.SystemFramework.ApplicationConfiguration, SystemFramework"/>
    <!--<sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
        <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler"/>
      </sectionGroup>
    </sectionGroup>-->
  </configSections>
  <appSettings>
    <add key="AppPath" value="/SOFTAziOnLine"/>
    <add key="AppPathPDF" value="C:\Inetpub\wwwroot\SOFTAziOnLine\Documenti\"/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="debug" value="false"/>
    <add key="sviluppo" value="false"/>
  </appSettings>
  <!--
    Per una descrizione delle modifiche al file web.config, vedere il sito Web all'indirizzo http://go.microsoft.com/fwlink/?LinkId=235367.

    Gli attributi seguenti possono essere impostati sul tag <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="1440"/>
    <httpRuntime executionTimeout="1500"/>
    <!-- 
            Impostare compilation debug="true" per inserire i 
            simboli di debug nella pagina compilata. Poiché tale operazione ha effetto 
            sulle prestazioni, impostare questo valore su true 
            solo durante lo sviluppo.

            Opzioni di Visual Basic:
            Impostare strict="true" per impedire qualsiasi conversione di tipi di dati 
            in caso di possibile perdita di dati. 
            Impostare explicit="true" per imporre la dichiarazione di tutte le variabili.
        -->
    <siteMap defaultProvider="SiteMapAdmin" enabled="true">
      <providers>
        <add name="SiteMapAdmin" type="System.Web.XmlSiteMapProvider" siteMapFile="~/WebSiteMapAdmin.sitemap"/>
        <add name="SiteMapAzienda" type="System.Web.XmlSiteMapProvider" siteMapFile="~/WebSiteMapAzienda.sitemap"/>
        <add name="SiteMapTecnico" type="System.Web.XmlSiteMapProvider" siteMapFile="~/WebSiteMapTecnico.sitemap"/>
        <add name="SiteMapMagazzino" type="System.Web.XmlSiteMapProvider" siteMapFile="~/WebSiteMapMagazzino.sitemap"/>
        <add name="SiteMapAcquisti" type="System.Web.XmlSiteMapProvider" siteMapFile="~/WebSiteMapAcquisti.sitemap"/>
        <add name="SiteMapVendite" type="System.Web.XmlSiteMapProvider" siteMapFile="~/WebSiteMapVendite.sitemap"/>
      </providers>
    </siteMap>
    <globalization culture="it-IT"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <!--<add assembly="CrystalDecisions.Enterprise.Framework, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <!--<add assembly="CrystalDecisions.Enterprise.InfoStore, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
      </assemblies>
      <buildProviders>
        <!--<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>-->
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </buildProviders>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Xml.Linq"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
      <controls>
        <add tagPrefix="opp" namespace="SoftAziOnLine.opp" assembly="SoftAziOnLine"/>
      </controls>
    </pages>
    <!--
            La sezione <authentication> consente di configurare 
            la modalita di autenticazione della sicurezza utilizzata da 
            ASP.NET per identificare un utente in ingresso. 
        -->
    <!--<authentication mode="Windows" />-->
    <authentication mode="Forms">
      <forms name="formLogin" loginUrl="Login.aspx" protection="All" timeout="30" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="Login.aspx" cookieless="UseDeviceProfile" enableCrossAppRedirects="false"/>
    </authentication>
    <!--
            La sezione <customErrors> consente di configurare 
            l'operazione da eseguire in caso di errore non gestito 
            durante l'esecuzione di una richiesta. In particolare, 
            consente agli sviluppatori di configurare le pagine di errore HTML 
            in modo che vengano visualizzate al posto dell'analisi dello stack dell'errore.
        -->
    <customErrors mode="Off" defaultRedirect="~/GenericErrorPage.aspx">
      <error statusCode="403" redirect="~/NoAccess.aspx"/>
      <error statusCode="404" redirect="~/FileNotFound.aspx"/>
    </customErrors>
    <httpHandlers>
      <!--<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>-->
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <!--<businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true"/>
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>-->
  <ApplicationConfiguration>
    <add key="SystemFramework.Dao.Factory" value="SQL"/>
    <add key="SystemFramework.DB.Host" value=".\SQL2022"/>
    <add key="SystemFramework.DB.Install" value="05Install"/>
    <add key="SystemFramework.DB.SoftAzi" value="NNAAAAGestAzi"/>
    <add key="SystemFramework.DB.SoftCoge" value="NNAAAACoge"/>
    <add key="SystemFramework.DB.Scadenze" value="NNScadenze"/>
    <add key="SystemFramework.DB.Opzioni" value="NNOpzioni"/>
    <add key="SystemFramework.DB.Login" value="sa"/>
    <add key="SystemFramework.DB.Password" value="SoftSol"/>
  </ApplicationConfiguration>
</configuration>